@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6a6e77;
  line-height: 1;
  font-family: "Quicksand";
  font-size: 1.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Quicksand";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  padding: 0.625rem;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 0.3125rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  background-color: #1c1f25;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0.5;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section-header {
  max-width: 30rem;
}

.section-header__subtitle {
  font-weight: 400;
  line-height: 124%;
  /* 31/25 */
  color: #6a6e77;
}

.section-header__title {
  font-weight: 700;
  line-height: 125%;
  /* 75/60 */
  color: #1c1f25;
}

.section-header_light .section-header__subtitle {
  color: #e3e6ec;
}

.section-header_light .section-header__title {
  color: #ffffff;
}

.static {
  max-width: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0625rem;
}

.static__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.static__percent {
  font-weight: 700;
  line-height: 124%;
  /* 31/25 */
  color: #1c1f25;
}

.static__line {
  height: 0.625rem;
  width: 100%;
  background-color: rgba(28, 31, 37, 0.1);
  position: relative;
}

.static__line span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}

.static__line span span {
  background-color: #1c1f25;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}

.active-section span span {
  width: 100%;
  -webkit-transition: width 2s ease 0.3s;
  -o-transition: width 2s ease 0.3s;
  transition: width 2s ease 0.3s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.section-01__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-01__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  position: relative;
  padding-top: 9.6875rem;
  padding-bottom: 9.6875rem;
}

.section-01__body::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(28, 31, 37, 0.6);
  z-index: -1;
}

.section-01__section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-01__img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.section-02__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-02__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 3.125rem;
}

.section-02__section-header {
  max-width: none;
}

.section-02__title {
  max-width: 30rem;
}

.section-02__text {
  font-weight: 400;
  line-height: 180%;
  /* 45/25 */
  max-width: 33.75rem;
}

.section-02__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 62.5rem;
}

.section-02__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.section-03__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-03__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-03__statisctics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-03__img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-04__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

.section-04__body {
  padding-top: 1.5625rem;
}

.section-04__section-header {
  max-width: 56.25rem;
}

.section-04__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.item__title {
  font-weight: 700;
  color: #1c1f25;
}

.item__text {
  line-height: 180%;
  /* 45/25 */
}

.section-05__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-05__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.section-05__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 3.125rem 0;
  padding-right: 1.875rem;
}

.section-05__section-header {
  max-width: none;
}

.section-05__title {
  max-width: 30rem;
}

.section-05__text {
  font-weight: 400;
  line-height: 180%;
  /* 45/25 */
  max-width: 33.75rem;
}

.section-05__image {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.section-05__image div {
  height: 50%;
}

.section-05__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-06__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-06__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-06__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-right: 3.125rem;
}

.section-06__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-06__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page {
  counter-reset: item;
}

.page__section {
  position: relative;
}

.page__section::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  position: absolute;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  top: 50%;
  font-weight: 700;
  line-height: 125%;
  /* 75/60 */
  color: #e3e6ec;
}

@media (min-width: 29.99875em) {
  .fp-bullets .fp-bullet-active {
    -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
        -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
            transform: translate3D(-0.3125rem, -0.125rem, 0);
  }
}

@media (min-width: 47.99875em) {
  .section-03__image {
    min-height: 43.75rem;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 37.5%;
  }
}

@media (min-width: 61.99875em) {
  .section-06__container {
    padding-top: 3.125rem;
  }

  .section-06__container {
    padding-bottom: 3.125rem;
  }
}

@media (min-width: 48em) {
  .section-01__container {
    padding-top: 3.125rem;
  }

  .section-01__container {
    padding-bottom: 3.125rem;
  }

  .section-03__container {
    padding-top: 3.125rem;
  }

  .section-03__container {
    padding-bottom: 3.125rem;
  }

  .section-04__container {
    padding-top: 3.125rem;
  }

  .section-04__container {
    padding-bottom: 3.125rem;
  }
}

@media (min-width: 120em) {
  [class*=__container] {
    padding-left: 15rem;
  }

  [class*=__container] {
    padding-right: 15rem;
  }

  .fp-bullets {
    left: 7.5rem;
  }

  .section-header__subtitle {
    font-size: 1.5625rem;
  }

  .section-header__subtitle:not(:last-child) {
    margin-bottom: 2rem;
  }

  .section-header__title {
    font-size: 3.75rem;
  }

  .static {
    font-size: 1.5625rem;
  }

  .static__line {
    height: 0.625rem;
  }

  .section-01__body {
    padding-left: 15rem;
  }

  .section-01__body {
    padding-right: 15rem;
  }

  .section-02__body {
    padding-top: 15rem;
  }

  .section-02__body {
    padding-bottom: 15rem;
  }

  .section-02__title:not(:last-child) {
    margin-bottom: 8.25rem;
  }

  .section-02__text {
    font-size: 1.5625rem;
  }

  .section-03__section-header {
    margin-bottom: 7.5rem;
  }

  .section-03__statisctics {
    gap: 4.75rem;
  }

  .section-04__container {
    gap: 9.5625rem;
  }

  .section-04__items {
    gap: 3rem;
  }

  .item__icon:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .item__icon {
    height: 3rem;
  }

  .item__title {
    font-size: 1.875rem;
  }

  .item__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .item__text {
    font-size: 1.5625rem;
  }

  .section-05__content {
    gap: 9.5625rem;
  }

  .section-05__title:not(:last-child) {
    margin-bottom: 8.25rem;
  }

  .section-05__text {
    font-size: 1.5625rem;
  }

  .section-06__content {
    row-gap: 9.5625rem;
  }

  .section-06__items {
    gap: 3.75rem;
  }

  .section-06__item {
    gap: 3.1875rem;
  }

  .page__section::before {
    right: 7.5rem;
  }

  .page__section::before {
    font-size: 3.75rem;
  }
}

@media (max-width: 75em) {
  .section-02__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 48em) {
  .section-01__body {
    padding-left: 2.5rem;
  }

  .section-01__body {
    padding-right: 2.5rem;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    padding-left: 0.9375rem;
  }

  [class*=__container] {
    padding-right: 0.9375rem;
  }

  .fp-bullets {
    left: 0.46875rem;
  }

  .section-header__subtitle {
    font-size: 0.75rem;
  }

  .section-header__subtitle:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .section-header__title {
    font-size: 1.25rem;
  }

  .static {
    font-size: 0.75rem;
  }

  .static__line {
    height: 0.25rem;
  }

  .section-01__container {
    padding-top: 1.875rem;
  }

  .section-01__container {
    padding-bottom: 1.875rem;
  }

  .section-02__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .section-02__text {
    font-size: 0.75rem;
  }

  .section-03__container {
    padding-top: 1.875rem;
  }

  .section-03__container {
    padding-bottom: 1.875rem;
  }

  .section-03__section-header {
    margin-bottom: 1.875rem;
  }

  .section-03__statisctics {
    gap: 1.25rem;
  }

  .section-04__container {
    gap: 1.875rem;
  }

  .section-04__container {
    padding-top: 1.875rem;
  }

  .section-04__container {
    padding-bottom: 1.875rem;
  }

  .section-04__items {
    gap: 1.875rem;
  }

  .item__icon:not(:last-child) {
    margin-bottom: 0.8125rem;
  }

  .item__icon {
    height: 1.75rem;
  }

  .item__title {
    font-size: 0.9375rem;
  }

  .item__title:not(:last-child) {
    margin-bottom: 1rem;
  }

  .item__text {
    font-size: 0.75rem;
  }

  .section-05__content {
    gap: 1.875rem;
  }

  .section-05__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .section-05__text {
    font-size: 0.75rem;
  }

  .section-06__container {
    padding-top: 1.875rem;
  }

  .section-06__container {
    padding-bottom: 1.875rem;
  }

  .section-06__content {
    row-gap: 1.875rem;
  }

  .section-06__items {
    gap: 1.25rem;
  }

  .section-06__item {
    gap: 1.25rem;
  }

  .page__section::before {
    right: 0.46875rem;
  }

  .page__section::before {
    font-size: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .section-02__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .section-02__body {
    padding-top: 3.125rem;
  }

  .section-02__body {
    padding-bottom: 3.125rem;
  }

  .section-02__body {
    padding-bottom: 0;
    padding-right: 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .section-02__title {
    max-width: 100%;
  }

  .section-02__text {
    max-width: 100%;
  }

  .section-02__image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    padding-bottom: 3.125rem;
  }

  .section-05__content {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1.5625rem;
  }

  .section-05__body {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 0rem;
  }

  .section-05__title {
    max-width: none;
  }

  .section-05__text {
    max-width: none;
  }

  .section-05__image {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .section-05__image div {
    height: 100%;
  }

  .section-06__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .section-06__body {
    padding-right: 0rem;
    padding-top: 1.5625rem;
  }

  .section-06__title {
    max-width: none;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .section-02__body {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .section-01__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-01__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .section-02__body {
    padding-top: 1.5625rem;
  }

  .section-02__image {
    padding-bottom: 0rem;
  }

  .section-03__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .section-03__body {
    padding-top: 1.5625rem;
  }

  .section-04__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .page__section::before {
    right: 50% !important;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .page__section::before {
    top: 0.9375rem;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 50% !important;
  }

  .fp-bullets .fp-bullet {
    height: 0.25rem;
    width: 2.5rem;
  }
}

@media (min-width: 20em) and (max-width: 120em) {
@supports (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (left: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .fp-bullets {
      left: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem );
    }
}

@supports not (left: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .fp-bullets {
      left: calc(0.46875rem + 7.03125 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .section-header__subtitle {
      font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .section-header__subtitle {
      font-size: calc(0.75rem + 0.8125 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
    .section-header__subtitle:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
    .section-header__subtitle:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.375 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem )) {
    .section-header__title {
      font-size: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem )) {
    .section-header__title {
      font-size: calc(1.25rem + 2.5 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .static {
      font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .static {
      font-size: calc(0.75rem + 0.8125 * (100vw - 20rem) / 100);
    }
}

@supports (height: clamp( 0.25rem , 0.175rem  +  0.375vw , 0.625rem )) {
    .static__line {
      height: clamp( 0.25rem , 0.175rem  +  0.375vw , 0.625rem );
    }
}

@supports not (height: clamp( 0.25rem , 0.175rem  +  0.375vw , 0.625rem )) {
    .static__line {
      height: calc(0.25rem + 0.375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.15rem  +  7vw , 8.25rem )) {
    .section-02__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.15rem  +  7vw , 8.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.15rem  +  7vw , 8.25rem )) {
    .section-02__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 7 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .section-02__text {
      font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .section-02__text {
      font-size: calc(0.75rem + 0.8125 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.75rem  +  5.625vw , 7.5rem )) {
    .section-03__section-header {
      margin-bottom: clamp( 1.875rem , 0.75rem  +  5.625vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.75rem  +  5.625vw , 7.5rem )) {
    .section-03__section-header {
      margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.25rem , 0.55rem  +  3.5vw , 4.75rem )) {
    .section-03__statisctics {
      gap: clamp( 1.25rem , 0.55rem  +  3.5vw , 4.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.55rem  +  3.5vw , 4.75rem )) {
    .section-03__statisctics {
      gap: calc(1.25rem + 3.5 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem )) {
    .section-04__container {
      gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem )) {
    .section-04__container {
      gap: calc(1.875rem + 7.6875 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.875rem , 1.65rem  +  1.125vw , 3rem )) {
    .section-04__items {
      gap: clamp( 1.875rem , 1.65rem  +  1.125vw , 3rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.65rem  +  1.125vw , 3rem )) {
    .section-04__items {
      gap: calc(1.875rem + 1.125 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.8125rem , 0.65rem  +  0.8125vw , 1.625rem )) {
    .item__icon:not(:last-child) {
      margin-bottom: clamp( 0.8125rem , 0.65rem  +  0.8125vw , 1.625rem );
    }
}

@supports not (margin-bottom: clamp( 0.8125rem , 0.65rem  +  0.8125vw , 1.625rem )) {
    .item__icon:not(:last-child) {
      margin-bottom: calc(0.8125rem + 0.8125 * (100vw - 20rem) / 100);
    }
}

@supports (height: clamp( 1.75rem , 1.5rem  +  1.25vw , 3rem )) {
    .item__icon {
      height: clamp( 1.75rem , 1.5rem  +  1.25vw , 3rem );
    }
}

@supports not (height: clamp( 1.75rem , 1.5rem  +  1.25vw , 3rem )) {
    .item__icon {
      height: calc(1.75rem + 1.25 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.75rem  +  0.9375vw , 1.875rem )) {
    .item__title {
      font-size: clamp( 0.9375rem , 0.75rem  +  0.9375vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.75rem  +  0.9375vw , 1.875rem )) {
    .item__title {
      font-size: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8rem  +  1vw , 2rem )) {
    .item__title:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.8rem  +  1vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8rem  +  1vw , 2rem )) {
    .item__title:not(:last-child) {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .item__text {
      font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .item__text {
      font-size: calc(0.75rem + 0.8125 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem )) {
    .section-05__content {
      gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem )) {
    .section-05__content {
      gap: calc(1.875rem + 7.6875 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -0.525rem  +  7.3125vw , 8.25rem )) {
    .section-05__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , -0.525rem  +  7.3125vw , 8.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.525rem  +  7.3125vw , 8.25rem )) {
    .section-05__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 7.3125 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .section-05__text {
      font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5875rem  +  0.8125vw , 1.5625rem )) {
    .section-05__text {
      font-size: calc(0.75rem + 0.8125 * (100vw - 20rem) / 100);
    }
}

@supports (row-gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem )) {
    .section-06__content {
      row-gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 0.3375rem  +  7.6875vw , 9.5625rem )) {
    .section-06__content {
      row-gap: calc(1.875rem + 7.6875 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem )) {
    .section-06__items {
      gap: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem )) {
    .section-06__items {
      gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.25rem , 0.8625rem  +  1.9375vw , 3.1875rem )) {
    .section-06__item {
      gap: clamp( 1.25rem , 0.8625rem  +  1.9375vw , 3.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8625rem  +  1.9375vw , 3.1875rem )) {
    .section-06__item {
      gap: calc(1.25rem + 1.9375 * (100vw - 20rem) / 100);
    }
}

@supports (right: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .page__section::before {
      right: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem );
    }
}

@supports not (right: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .page__section::before {
      right: calc(0.46875rem + 7.03125 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem )) {
    .page__section::before {
      font-size: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.75rem  +  2.5vw , 3.75rem )) {
    .page__section::before {
      font-size: calc(1.25rem + 2.5 * (100vw - 20rem) / 100);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-01__container {
      padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-01__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-01__container {
      padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-01__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-02__container {
      padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-02__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-02__container {
      padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-02__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-03__container {
      padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-03__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-03__container {
      padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-03__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-04__container {
      padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-04__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-04__container {
      padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-04__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 48em) and (max-width: 120em) {
@supports (padding-left: clamp( 2.5rem , -5.8333333333rem  +  17.3611111111vw , 15rem )) {
    .section-01__body {
      padding-left: clamp( 2.5rem , -5.8333333333rem  +  17.3611111111vw , 15rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , -5.8333333333rem  +  17.3611111111vw , 15rem )) {
    .section-01__body {
      padding-left: calc(2.5rem + 12.5 * (100vw - 48rem) / 72);
    }
}

@supports (padding-right: clamp( 2.5rem , -5.8333333333rem  +  17.3611111111vw , 15rem )) {
    .section-01__body {
      padding-right: clamp( 2.5rem , -5.8333333333rem  +  17.3611111111vw , 15rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -5.8333333333rem  +  17.3611111111vw , 15rem )) {
    .section-01__body {
      padding-right: calc(2.5rem + 12.5 * (100vw - 48rem) / 72);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 120em) {
@supports (padding-top: clamp( 3.125rem , -9.5684360251rem  +  20.4736966876vw , 15rem )) {
    .section-02__body {
      padding-top: clamp( 3.125rem , -9.5684360251rem  +  20.4736966876vw , 15rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -9.5684360251rem  +  20.4736966876vw , 15rem )) {
    .section-02__body {
      padding-top: calc(3.125rem + 11.875 * (100vw - 61.99875rem) / 58.00125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , -9.5684360251rem  +  20.4736966876vw , 15rem )) {
    .section-02__body {
      padding-bottom: clamp( 3.125rem , -9.5684360251rem  +  20.4736966876vw , 15rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , -9.5684360251rem  +  20.4736966876vw , 15rem )) {
    .section-02__body {
      padding-bottom: calc(3.125rem + 11.875 * (100vw - 61.99875rem) / 58.00125);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 48em) {
  .section-02__body {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (margin-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-02__body {
      margin-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-02__body {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-03__container {
      gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .section-03__container {
      gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (top: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 1.5625rem )) {
    .page__section::before {
      top: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 1.5625rem );
    }
}

@supports not (top: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 1.5625rem )) {
    .page__section::before {
      top: calc(0.9375rem + 0.625 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 20em) and (max-width: 61.99875em) {
@supports (padding-top: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-05__container {
      padding-top: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-05__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 41.99875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-05__container {
      padding-bottom: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-05__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 41.99875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-06__container {
      padding-top: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-06__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 41.99875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-06__container {
      padding-bottom: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem )) {
    .section-06__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 41.99875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .page__section::before {
    top: 1.5625rem;
  }
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }
}